:root {
    --blue: hsl(246, 80%, 60%);
    --work: hsl(15, 100%, 70%);
    --play: hsl(195, 74%, 62%);
    --study: hsl(348, 100%, 68%);
    --exercise: hsl(145, 58%, 55%);
    --social: hsl(264, 64%, 52%);
    --self-care: hsl(43, 84%, 65%);

    --Verydarkblue: hsl(226, 43%, 10%);
    --Darkblue: hsl(235, 46%, 20%);
    --Desaturatedblue: hsl(235, 45%, 61%);
    --PaleBlue: hsl(236, 100%, 87%);

    --borderrounding: 1.2rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--Verydarkblue);
    color: white;
    font-size: 18px;
}

h1 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h2 {
    font-size: 4rem;
    font-weight: 300;
}

img {
    max-width: 100%;
}

.icon {
    height: 43%;
}

.dots {
    background-image: url(/images/icon-ellipsis.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 10px;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*     Base Cards Style       */

.card{
    width: 100%;
    height: fit-content;
    background-color: var(--Darkblue);
    margin: 20px auto;
    border-radius: var(--borderrounding);
    z-index: 1;
    overflow: hidden;
}

.card-back {
    position: relative;
    top: 0;
}

.card-bottom {
    background-color: var(--Darkblue);
    margin-top: 3.3rem;
    height: fit-content;
    padding-bottom: 0px;
    z-index: 2;
    border-radius: var(--borderrounding);
}

.card-img {
    position: absolute;
    z-index: -1;
    top: -10%;
    right: 1.7rem;
    height: 300px; 
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.current-time {
    font-size: 3rem;
    font-weight: lighter;
}

.prev-time {
    color: var(--PaleBlue);
}

/*          User Card        */

/*          Info        */
.user {
    margin-top: 100px;
}
.user-info {
    background-color: var(--blue);
    display: flex;
    align-items: center;
    gap: 1.8rem;
    padding: 40px 30px;
    border-radius: var(--borderrounding)
}

.user-img {
    width: 7rem;
    border: 2px solid white;
    border-radius: 50%;
}

.user-text h1,
.user-text p {
    margin: 0;
    padding: 3px 0;
    font-weight: lighter;
}


/*      User - TimeFrames        */
.timeframes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0;
}

.time {
    margin: 0 10px;
}

.timeframes button {
    font-weight: lighter;
    color: var(--Desaturatedblue);
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}


/*      Work Card        */
.work {
    background-color: var(--work);
}


/*      Play Card        */
.play {
    background-color: var(--play);
}





 







