:root {
    --blue: hsl(246, 80%, 60%);
    --work: hsl(15, 100%, 70%);
    --play: hsl(195, 74%, 62%);
    --study: hsl(348, 100%, 68%);
    --exercise: hsl(145, 58%, 55%);
    --social: hsl(264, 64%, 52%);
    --self-care: hsl(43, 84%, 65%);

    --Verydarkblue: hsl(226, 43%, 10%);
    --Darkblue: hsl(235, 46%, 20%);
    --Desaturatedblue: hsl(235, 45%, 61%);
    --PaleBlue: hsl(236, 100%, 87%);

    --borderrounding: 1.2rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;

}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--Verydarkblue);
    color: white;
    font-size: 18px;
}

img {
    max-width: 100%;
}

.container {
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*     Base Card       */

.card{
    width: 100%;
    height: fit-content;
    background-color: var(--Darkblue);
    margin: 10px auto;
    border-radius: var(--borderrounding);
}

/*          Info        */
.user-info {
    background-color: var(--blue);
    display: flex;
    align-items: center;
    gap: 1.8rem;
    padding: 40px 30px;
    border-radius: var(--borderrounding)
}

.user-img {
    width: 7rem;
    border: 2px solid white;
    border-radius: 50%;
}

.user-text h1,
.user-text p {
    margin: 0;
    padding: 3px 0;
    font-weight: lighter;
}


/*      TimeFrames        */
.timeframes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0;
}

.time {
    margin: 0 10px;
}

.timeframes button {
    font-weight: lighter;
    opacity: 0.6;
    color:white;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}